.cv-model--1 {
  height: 100%;
  max-height: calc(100vh - var(--space-l) * 2);
  aspect-ratio: 210 / 297;
  background-color: white;

  padding: var(--space-l);
  border-radius: 1rem;
}

.cv-model--1 .header {
  margin-bottom: var(--space-s);
}

.cv-model--1 .title {
  font-size: var(--text-xl);
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.cv-model--1 .subtitle {
  text-transform: capitalize;
  color: var(--color-neutral-600);
  font-size: var(--text-l);
  font-weight: 500;
  margin-bottom: var(--space-s);
}

.cv-model--1 .summary {
  color: var(--color-neutral-700);
  font-size: var(--text-m);
}

.cv-model--1 .info-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-xs);
  justify-content: space-between;
}

.cv-model--1 .info-list li {
  font-size: var(--text-s);
}

.cv-model--1 .info-list .icon--before {
  --icon-var: var(--phone__dark);
  --icon-gap: var(--space-xs);
  --icon-size: var(--text-s);
}

.cv-section__title {
  font-size: var(--text-s);
  text-transform: uppercase;
  margin-top: var(--space-l);
  width: 100%;
  border-bottom: 2px solid var(--color-neutral-900);
}

.cv-divider {
  border-top: 1px solid var(--color-neutral-300);
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
}

.cv-divider:first-of-type {
  border: none;
}

.cv-divider__header,
.cv-divider__title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cv-divider__title {
  font-weight: 500;
  font-size: var(--text-l);
}

.cv-divider__title::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  background-color: var(--color-neutral-800);
  border-radius: 50%;
}

.cv-divider__sub-title {
  font-weight: 500;
  font-size: var(--text-m);
}

.cv-divider__tag {
  font-weight: 400;
  font-size: var(--text-s);
  color: var(--color-neutral-700);

  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: var(--space-m);
}

.cv-divider__description {
  margin-top: var(--space-xs);
}
