:root {
  --icon-size: 2rem;

  --phone__dark: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="%23333333" fill="none"><path d="M4 4H20C21.1046 4 22 4.89543 22 6V18C22 19.1046 21.1046 20 20 20H4C2.89543 20 2 19.1046 2 18V6C2 4.89543 2.89543 4 4 4Z" stroke="%23333333" stroke-width="1.5" stroke-linejoin="round"></path><path d="M22 7L12.8944 11.5528C12.3314 11.8343 11.6686 11.8343 11.1056 11.5528L2 7" stroke="%23333333" stroke-width="1.5" stroke-linejoin="round"></path></svg>');
}

.icon--after,
.icon--before {
  display: flex;
  align-items: center;
  gap: var(--icon-gap);
}

.icon--after::after,
.icon--before::before {
  content: "";

  display: block;
  min-width: var(--icon-size);
  min-height: var(--icon-size);

  background-image: var(--icon-var);
  background-size: var(--icon-size);
  background-repeat: no-repeat;
  background-position: center;
}
