.inner-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  gap: var(--space-l);
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
}

.inner-grid > .flex--column {
  max-height: inherit;
  overflow: auto;
}
