.inner-grid {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  gap: var(--space-l);
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 99;
}

.inner-grid > .flex--column {
  max-height: inherit;
  overflow: auto;
  border-radius: 1rem;
}

.mobile-tggl-btn {
  cursor: pointer;
  display: none;
  position: fixed;
  left: var(--space-l);
  bottom: 5px;

  align-items: center;
  justify-content: center;

  background-color: white;
  border: 1px solid black;

  width: 50px;
  height: 50px;
  z-index: 99;
  border-radius: 1rem;
}

.mobile-tggl-btn button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.mobile-tggl-btn span {
  display: block;
  height: 3px;
  width: 35px;
  border-radius: 5px;

  background-color: black;
}

@media (max-width: 1000px) {
  .inner-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding-bottom: 60px;
  }

  .inner-grid > .flex--column {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 1;
    border-radius: none;
    background-color: white;
    padding-bottom: 60px;
  }

  .inner-grid > .flex--column.mobile-cv-active {
    display: flex;
  }

  .mobile-tggl-btn {
    display: flex;
  }
}
