:root {
  --text-xs: clamp(1.4rem, 1.35rem + 0.25vw, 1.4rem);
  --text-s: clamp(1.6rem, 1.52rem + 0.25vw, 1.6rem);
  --text-m: clamp(1.8rem, 1.7rem + 0.25vw, 1.8rem);
  --text-l: clamp(2.4rem, 2.08rem + 0.5vw, 2.4rem);
  --text-xl: clamp(3.2rem, 2.72rem + 0.5vw, 3.2rem);

  --space-xs: clamp(0.4rem, 0.35rem + 0.4vw, 0.8rem);
  --space-s: clamp(0.8rem, 0.6rem + 0.6vw, 1.6rem);
  --space-m: clamp(1.6rem, 1.2rem + 0.8vw, 2.4rem);
  --space-l: clamp(2.4rem, 1.8rem + 1vw, 3.2rem);
  --space-xl: clamp(3.2rem, 2.4rem + 1.2vw, 4.8rem);

  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e0e0e0;
  --color-neutral-300: #c2c2c2;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #858585;
  --color-neutral-600: #666666;
  --color-neutral-700: #4d4d4d;
  --color-neutral-800: #333333;
  --color-neutral-900: #1a1a1a;
}

body {
  font-size: var(--text-m);

  background-color: var(--color-neutral-200);
  color: var(--color-neutral-900);
}
